body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #111;
    color: white;
    text-align: center;
}

/* Header */
header {
    padding: 30px;
    background: #1e1e1e;
}

/* Gallery Grid */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 per row */
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}

.art img {
    width: 100%;
    height: 250px;
    object-fit: cover; /* keeps images same size */
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.art img:hover {
    transform: scale(1.05);
}
/* Modal Viewer */
#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
}

#modal img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}

/* Footer */
footer {
    padding: 15px;
    background: #1e1e1e;
}